<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/profile.css">
        <link rel="icon" href="/images/favicon.png">
        <title>User: <%= user.name %></title>
    </head>
    <body>
        <header>
            <a href="/posts">
                <img id="logo" src="/images/uppostLogo.png" alt="UpPost Logo">
            </a>

            <div id="login">
                <% if (user) { %>
                <a href="/profile">
                    <img src="<%= user.avatar %>" alt="Profile Img">
                </a>
                <button onclick="location.href='/logout'">Log Out</button>
                <% } else { %>
                <button onclick="location.href='/auth/google'">Login with Google</button>
                <% } %>
            </div>
        </header>

        <main>
            <aside>
                <img src="<%= user.avatar %>" alt="Profile Pic">
                <br><h1><%= user.name %></h1>
                <br><p>Email: <%= user.email %></p>
            </aside>
        </main>
        
        <footer>
            <div>
                UpPost &copy; 2020
            </div>
        </footer>
    </body>
</html>