<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/main.css' />
        <title>UpPost</title>
    </head>
    <body>
        <header>
            <a href="/posts">
                <img id="logo" src="/images/uppostLogo.png" alt="UpPost Logo">
            </a>

            <div id="login">
                <% if (user) { %>
                <a href="">
                    <img src="/images/profPic.png" alt="Profile Img">
                </a>
                <button onclick="location.href='/logout'">Log Out</button>
                <% } else { %>
                <button onclick="location.href='/auth/google'">Login with Google</button>
                <% } %>
            </div>
        </header>

        <main>
            
            <% if (user) { %>
                <form action="/posts/new" method="GET">
                    <button type="submit">Create A Post</button>
                </form>
            <% } else { %>

            <% } %>

            <% posts.forEach(function(post) { %>
                <article>
                    <p>
                    Category: <%= post.category %>    
                    <br><%= post.message %>
                    <br>Posted at <%= post.postTime.toLocaleTimeString() %> on <%= post.postTime.toLocaleDateString() %> by <%= post.postedBy %>
                    </p>
                    <button id="up"> ^ Up This Post</button>
                    <a href="/posts/<%= post._id %>">
                        <button>Show More</button>
                    </a>
                </article>
            <% }); %>
        </main>

        <footer>
            <div>
                UpPost &copy; 2020
            </div>
        </footer>
    </body>
</html>