<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/posts.css' />
        <link rel="icon" href="/images/favicon.png">
        <title>UpPost</title>
    </head>
    <body>
        <header>
            <a href="/posts">
                <img id="logo" src="/images/uppostLogo.png" alt="UpPost Logo">
            </a>

            <div id="login">
                <% if (user) { %>
                <a href="/profile">
                    <img src="<%= user.avatar %>" alt="Profile Img">
                </a>
                <button onclick="location.href='/logout'">Log Out</button>
                <% } else { %>
                <button onclick="location.href='/auth/google'">Login with Google</button>
                <% } %>
            </div>
        </header>

        <main>

            <a href="/">Home Page</a>
            
            <% if (user) { %>
                <form action="/posts/new" method="GET">
                    <button type="submit">Create A Post</button>
                </form>
            <% } %>

            <% posts.forEach(function(post) { %>
                <article>
                    <p>
                        Category: <%= post.category %>
                        <br><br><strong><%= post.message %></strong>
                        <br><br>Posted at <%= post.postTime.toLocaleTimeString() %> on <%= post.postTime.toLocaleDateString() %> by <%= post.postedBy %>
                    </p>
                    <% if(post.likers.length !== 1) { %>
                        <%= post.likers.length %> Upvotes
                    <% } else { %>
                        <%= post.likers.length %> Upvote
                    <% } %>
                    <% if(user) { %>
                        <form action="/posts/<%= post._id %>/like" method="GET">
                            <% if(post.likers.includes(user.id)) { %>
                                <button id="up"><img src="/images/downvote.png" alt="Upvote Button"></button> 
                                    Downvote
                                <% } else { %>
                                    <button id="up"><img src="/images/upvote.png" alt="Upvote Button"></button> 
                                    Upvote
                            <% } %>
                        </form>
                    <% } %>
                    <a href="/posts/<%= post._id %>">
                        <button>Show More</button>
                    </a>
                </article>
            <% }); %>
        </main>

        <footer>
            <div>
                UpPost &copy; 2020
            </div>
        </footer>
    </body>
</html>