<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/show.css">
        <title>UpPost - A <%= post.category %> Post By <%= post.postedBy %></title>
    </head>
    <body>
        <header>
            <a href="/posts">
                <img id="logo" src="/images/" alt="UpPost Logo">
            </a>

            <div id="login">
                <% if (user) { %>
                <a href="">
                    <img src="/images/profPic.png" alt="Profile Img">
                </a>
                <button onclick="location.href='/logout'">Log Out</button>
                <% } else { %>
                <button onclick="location.href='/auth/google'">Login with Google</button>
                <% } %>
            </div>
        </header>

        <article>
            <h1>Category <%= post.category %></h1>
            <p><%= post.message %></p>
            <p>Posted at <%= post.postTime.toLocaleTimeString() %> on <%= post.postTime.toLocaleDateString() %> by <%= post.postedBy %></p>
            <% if(user === post.postedBy) %>
                <form action="/posts/<%= post.id %>/edit" method="GET">
                    <button>Edit Post</button>
                </form>
                <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                    <button>Delete Post</button>
                </form>
        </article>

        <footer>
            <div>
                UpPost &copy; 2020
            </div>
        </footer>
    </body>
</html>