<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/show.css">
        <title>UpPost - A <%= post.category %> Post By <%= post.postedBy %></title>
    </head>
    <body>
        <header>
            <a href="/posts">
                <img id="logo" src="/images/uppostLogo.png" alt="UpPost Logo">
            </a>

            <div id="login">
                <% if (user) { %>
                <a href="/profile">
                    <img src="<%= user.avatar %>" alt="Profile Img">
                </a>
                <button onclick="location.href='/logout'">Log Out</button>
                <% } else { %>
                <button onclick="location.href='/auth/google'">Login with Google</button>
                <% } %>
            </div>
        </header>

        <main>
            <article>
                <h1>Category <%= post.category %></h1>
                <br><p><%= post.message %></p>
                <br><p>Posted at <%= post.postTime.toLocaleTimeString() %> on <%= post.postTime.toLocaleDateString() %> by <%= post.postedBy %></p>
                <br><% if (user !== undefined) {%>
                    <% if(user.name === post.postedBy) {%>
                        <form action="/posts/<%= post.id %>/edit" method="GET">
                            <button>Edit Post</button>
                        </form>
                        <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                            <button>Delete Post</button>
                        </form>
                <% }} %>
            </article>
        </main>

        <footer>
            <div>
                UpPost &copy; 2020
            </div>
        </footer>
    </body>
</html>